@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap");

.leaderboard-container {
  text-align: center;
  background-size: cover; 
  background-Position: center;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  width: 100vw; 
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  
}

  
  h1 {
    margin:40px 10px;
    font-family: "Orbitron", sans-serif;
    background: linear-gradient(to right, #dfa1a1, #d61919);
    -webkit-background-clip: text;
    background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
  .leaderboard-table {
    width: 60%;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto; 
}

  .leaderboard-table tr:first-child {
    font-weight: bold;
    color: black;
    background-color: #ffd700;
  }

  .leaderboard-table tr:nth-child(2) {
    font-weight: bold;
    color: black;
    background-color: #B4B4B4;
  }

  .leaderboard-table tr:nth-child(3) {
    font-weight: bold;
    color: black;
    background-color: #AD8A56;
  }

  .leaderboard-table th,
  .leaderboard-table td {
    padding: 10px;
    border: 4px solid #ddd;
    text-align: center;
    font-size: 1rem;
  }
  
  .leaderboard-table th {
    background-color: #333;
    color: white;
  }
 
  .back-link{
    color:azure;
    font-size: 24px;
  }
  .back-link:hover {
    color: #a27d17; 
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
  .leaderboard-table {
    width: 90%;
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  .back-link {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .leaderboard-table {
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }

  .leaderboard-table th, .leaderboard-table td {
    padding: 5px;
  }

  .back-link {
    font-size: 16px;
  }
}